doctype html
html
  head
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='foodDiary', ng-controller='foodController')
    block content
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src='/javascripts/script.js')
